@import url("ui/root.css");

header {
    min-height: min(200px, 10vh);
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

span {
    margin: 20px;
    flex: 1;
    font-size: max(30px, 5vmin);
}

a {
    font-weight: bold;
    text-decoration: none;
    color: #5494FB;
}

p {
    text-align: center;
}

button {
    cursor: pointer;
    background-color: #305694;
    min-width: max-content;
    width: 20%;
    padding: 10px;
    margin: 20px;
    border-radius: 10px;
    font-weight: bold;
    font-size: max(25px, 4vmin);
}

a:hover {
    color: #305694;
}

button:hover {
    background-color: #1c345a;
}

textarea {
    flex: 1;
    resize: none;
    padding: 20px;
    font-size: max(20px, 2vmin);
    background-color: #24272E;
    font-family: monospace;
}

footer {
    min-height: min(200px, 10vh);
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

